@font-face {
    font-family:"돋움";
    src: local("NanumBarunGothic");
}
@font-face {
    font-family:"돋움체";
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: dotum;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: DotumChe;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family:"굴림";
    src: local("NanumBarunGothic");
}
@font-face {
    font-family:"굴림체";
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: Gulim;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: GulimChe;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family:"바탕";
    src: local("NanumBarunGothic");
}
@font-face {
    font-family:"바탕체";
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: Batang;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: BatangChe;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family:"궁서";
    src: local("NanumBarunGothic");
}
@font-face {
    font-family:"궁서체";
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: Gungsuh;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: GungsuhChe;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family: Arial;
    src: local("NanumBarunGothic");
}
@font-face {
    font-family:"돋움";
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family:"돋움체";
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: dotum;
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: DotumChe;
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family:"굴림";
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family:"굴림체";
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: Gulim;
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: GulimChe;
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family:"바탕";
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family:"바탕체";
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: Batang;
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: BatangChe;
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family:"궁서";
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family:"궁서체";
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: Gungsuh;
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: GungsuhChe;
    src: local("NanumBarunGothic");
    font-weight: bold;
}
@font-face {
    font-family: Arial;
    src: local("NanumBarunGothic");
    font-weight: bold;
}

h1, h2, h3, h4, p, span, div, li, ul, body, input, button, textarea, select, pre, code, a {
    font-family: Lucida Sans Typewriter, NanumBarunGothic, D2Coding, nf-icon;
}
